		body {
			margin: 0;
			padding: 0;
		}
		div {
			width: cover;
	/*		height: 100vh;*/
			background-color: green;
		}
		.button1 {
			width: 200px;
			height: 100px;
			margin: 10px;
			background-color: orange;
			color: white;
			font-size: 30px;
			font-weight: bold;
			border-radius: 5%;
			position: relative;
			display: inline;
			top: 20%;
			left: 10%;
			border-color: orange;
			-webkit-transition: transform 1s, font-size 1s, color 1s;
		    -moz-transition: transform 1s, font-size 1s, color 1s;
		    transition: transform 1s, font-size 1s, color 1s;
		}
		.button1:hover {
			font-size: 34px;
			color: black;
	    /* Rotate div */
		    -ms-transform: rotate(-20deg); /* IE 9 */
		    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
		    transform: rotate(-20deg);
		}

		.button2 {
			width: 200px;
			height: 100px;
			margin: 10px;
			background-color: orange;
			color: white;
			font-size: 30px;
			font-weight: bold;
			border-radius: 5%;
			position: relative;
			display: inline;
			top: 20%;
			left: 10%;
			border-color: orange;
			-webkit-transition: transform 1s, font-size 1s, color 1s;
		    -moz-transition: transform 1s, font-size 1s, color 1s;
		    transition: transform 1s, font-size 1s, color 1s;
		}
		.button2:hover {
			font-size: 32px;
			color: black;
	    /* Rotate div */
		    -ms-transform: rotate(20deg); /* IE 9 */
		    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
		    transform: rotate(20deg);
		}

		.info {
			width: 200px;
			height: 100px;
			margin: 10px;
			color: white;
			font-size: 30px;
			font-weight: bold;
			border-radius: 5%;
			background-color: black;
			display: inline-block;
			margin-bottom: 30px;
			left: 10%;
			margin-top: 50px;
			border-color: black;
			-webkit-transition: transform 1s, font-size 1s, color 1s;
		    -moz-transition: transform 1s, font-size 1s, color 1s;
		    transition: transform 1s, font-size 1s, color 1s;
		}
		.info:hover {
			font-size: 32px;
			color: red;
	    /* Rotate div */
		    -ms-transform: rotate(20deg); /* IE 9 */
		    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
		    transform: rotate(20deg);
		}
		.warning {
			width: 200px;
			height: 100px;
			margin: 10px;
			color: white;
			font-size: 30px;
			font-weight: bold;
			border-radius: 5%;
			background-color: red;
			display: inline-block;
			margin-bottom: 30px;
			left: 10%;
			margin-top: 50px;
			border-color: red;
			-webkit-transition: transform 1s, font-size 1s, color 1s;
		    -moz-transition: transform 1s, font-size 1s, color 1s;
		    transition: transform 1s, font-size 1s, color 1s;
		}
		.warning:hover {
			font-size: 32px;
			color: black;
	    /* Rotate div */
		    -ms-transform: rotate(20deg); /* IE 9 */
		    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
		    transform: rotate(20deg);
		}
		.download {
			width: 200px;
			height: 100px;
			margin: 10px;
			color: white;
			font-size: 30px;
			font-weight: bold;
			border-radius: 5%;
			background-color: yellow;
			display: inline-block;
			margin-bottom: 30px;
			left: 10%;
			margin-top: 50px;
			border-color: yellow;
			-webkit-transition: transform 1s, font-size 1s, color 1s;
		    -moz-transition: transform 1s, font-size 1s, color 1s;
		    transition: transform 1s, font-size 1s, color 1s;
		}
		.download:hover {
			font-size: 32px;
			color: red;
	    /* Rotate div */
		    -ms-transform: rotate(20deg); /* IE 9 */
		    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
		    transform: rotate(20deg);
		}
		.note {
			width: 200px;
			height: 100px;
			margin: 10px;
			color: white;
			font-size: 30px;
			font-weight: bold;
			border-radius: 5%;
			background-color: gray;
			display: inline-block;
			margin-bottom: 30px;
			left: 10%;
			margin-top: 50px;
			border-color: gray;
			-webkit-transition: transform 1s, font-size 1s, color 1s;
		    -moz-transition: transform 1s, font-size 1s, color 1s;
		    transition: transform 1s, font-size 1s, color 1s;
		}
		.note:hover {
			font-size: 32px;
			color: black;
	    /* Rotate div */
		    -ms-transform: rotate(20deg); /* IE 9 */
		    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
		    transform: rotate(20deg);
		}

		@media only and (screen width: 500px) {
			button {
				display: block;
			}
			div {
				height: cover;
			}
		}